$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;
$text-inactive-color: #a5a5a5;

$form-border-color: #292929;

$page-header-back: #7f7f7f;
$page-header-font: #dedede;

//product-page
$product-overview-underscore: #cccccc;
$product-review-font: #676767;
$social-button-text: #888888;

// social 
$twitter: #34c5f0;
$linkedin: #127cb4;
$facebook: #336297;
$gplus: #e74237;
$pinterest: #b71c29;

//transition duration
$transitionDuration: 0.25s;
$transitionDuration-bg: 0.25s;
$transitionDuration-color: 0.25s;

//gallery section
$gallery-price: #79ae30;
$gallery-tabs-active: #f4f5f7;
$gallery-tabs-border: #e2e2e2;
