.section--shop {
    .shop {
        background: $page-header-back;
        height: 340px; 

        &-heading {
            padding: 35px 0;
            color: $page-header-font;
            position: relative;

            &-h1 {
                text-transform: uppercase;
                margin: 0;
                font-size: 24px;
            }

            &-breadcrumbs {
                margin: 0;
                font-size: 13px;
                list-style: none;
                padding: 0;
                margin-right: 40px;

                &-arrow {
                    padding-top: 1px;
                    margin: 0 15px;
                }

                &-breadcrumb {
                    color: $page-header-font;

                    &:hover {
                        color: $primary;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media(min-width: 1200px) {
    .section--shop {
        .shop {
    
            &-heading {
                padding: 35px 15px;
            }
        }
    }    
}

@media(max-width: 576px) {
    .section--shop {
        .shop {
    
            &-heading {
    
                &-breadcrumbs {
                    position: absolute;
                    left: 0;
                    bottom: 9px;
                }
            }
        }
    }
}