.section--shop {
    .dataContainer {
        padding: 20px 0;
        .shop-reviewSection {

            &-tabs {
                width: 100%;
                border: none;

                &-tabItem {
                    width: 155px;
                    height: 50px;
                    border-top: 1px solid $gallery-tabs-border;
                    border-left: 1px solid $gallery-tabs-border;
                    border-bottom: 1px solid $gallery-tabs-border;

                    &:last-child {
                        border-right: 1px solid $gallery-tabs-border;
                        
                        .shop-reviewSection-tabs-tabItem > .active {
                            border-right: none;
                        }
                    }

                    &-tabLink {
                        border-radius: 0;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 34px;
                        color: $text-color;
                        border: none;
                        text-align: center;

                        &:hover {
                            color: $primary;
                        }
                    }

                    & > .active {
                        border-left: 0;
                        border-right: 0;
                        color: $primary;        
                    }
                }
            }

            &-tabContent {
                margin: -49px 0 0 0;
                padding: 49px 0 0 0;
                width: 100%;
                border: 1px solid $gallery-tabs-border;

                &-tabPane {
                    padding: 35px;

                    &-header {
                        line-height: 30px;
                        font-size: 16px;
                    }

                    &-text {
                        font-size: 14px;
                        line-height: 25px;
                        color: $review-tabs-text;
                    }
                }
            }
        }
    }
}